html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

body {
  background-color: #fff;
  color: #000;
  font-family: Arial;
  margin: 1em; }
  @media screen and (min-width: 40em) {
    body {
      margin: 1em auto;
      max-width: 450px;
      width: 90%; } }

header ul,
footer ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 0.5em; }
  header ul li,
  footer ul li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    white-space: nowrap;
    float: left;
    padding-left: 4px;
    padding-right: 4px; }
    header ul li:first-child,
    footer ul li:first-child {
      padding-left: 0; }
    header ul li:last-child,
    footer ul li:last-child {
      padding-right: 0; }
    header ul li.last,
    footer ul li.last {
      padding-right: 0; }

a {
  color: #000; }

blockquote {
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 1em;
  padding: 1em; }
  blockquote p:last-child {
    margin-bottom: 0; }

em {
  font-style: italic; }

h1, h2, h3, h4, h5, h5 {
  color: #000;
  font-family: Verdana;
  line-height: 1.25em;
  margin: 1em 0 0.25em; }

h1 {
  text-shadow: 0 0 1px #fff;
  font-size: 2em;
  margin-top: 0.5em;
  text-align: center; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.25em; }

p {
  line-height: 1.5em;
  margin-bottom: 0.75em; }

strong {
  font-weight: bold; }

[role="main"].index blockquote {
  overflow: hidden;
  *zoom: 1; }
  [role="main"].index blockquote a {
    clear: left;
    float: right; }

[role="main"].person img.profile {
  float: right;
  margin-left: 1em; }

nav a {
  display: block; }

nav.persons ul li {
  overflow: hidden;
  *zoom: 1;
  padding: 0;
  width: 100%; }
  nav.persons ul li a {
    text-decoration: none; }
    nav.persons ul li a img {
      float: left;
      margin-right: 1em; }
    nav.persons ul li a .info {
      margin-left: calc(102px + 1em); }
    nav.persons ul li a:hover {
      text-decoration: underline; }

ul.overview {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1; }
  ul.overview li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    white-space: nowrap;
    float: left;
    padding-left: 4px;
    padding-right: 4px; }
    ul.overview li:first-child {
      padding-left: 0; }
    ul.overview li:last-child {
      padding-right: 0; }
    ul.overview li.last {
      padding-right: 0; }

img.profile {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: solid 1px black; }

footer {
  border-top: solid 1px #000;
  margin-top: 1em;
  padding: 0.5em 0; }

/*# sourceMappingURL=style.css.map */
