html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

@font-face {
  font-family: Ruthie-Regular-OTF;
  src: url("./Ruthie-Regular-OTF.otf") format("opentype"); }
body {
  background-color: #fff;
  color: #000;
  font-family: monospace; }
  body #MainNavigation {
    padding-top: 1em; }
  body > header {
    text-align: center; }
  body > footer {
    padding-bottom: 1em; }
  body.association > header, body.penguin > header, body.person > header {
    background: #000 url("./elegant.jpg") center center; }
    body.association > header > .inner, body.penguin > header > .inner, body.person > header > .inner {
      overflow: hidden;
      *zoom: 1; }
      body.association > header > .inner a,
      body.association > header > .inner h1,
      body.association > header > .inner p, body.penguin > header > .inner a,
      body.penguin > header > .inner h1,
      body.penguin > header > .inner p, body.person > header > .inner a,
      body.person > header > .inner h1,
      body.person > header > .inner p {
        text-shadow: 0 0 1px #000;
        color: #fff; }
      body.association > header > .inner h1, body.penguin > header > .inner h1, body.person > header > .inner h1 {
        font-family: Ruthie-Regular-OTF;
        font-size: 3em; }
      body.association > header > .inner img, body.penguin > header > .inner img, body.person > header > .inner img {
        -moz-box-shadow: 0 0 0 #333333;
        -webkit-box-shadow: 0 0 0 #333333;
        box-shadow: 0 0 0 #333333;
        border-color: #fff;
        margin: 0; }

@media screen and (max-width: 42em) {
  #MainNavigation .bar,
  #MainNavigation nav .inner,
  [role="main"],
  body > header > .inner,
  body > footer {
    padding: 0 1em; } }
@media screen and (min-width: 42em) {
  #MainNavigation .bar,
  #MainNavigation nav .inner,
  [role="main"],
  body > header > .inner,
  body > footer {
    margin: 0 auto;
    max-width: 34em;
    width: 90%; } }
@media screen and (min-width: 60em) {
  #MainNavigation .bar,
  #MainNavigation nav .inner,
  [role="main"],
  body > header > .inner,
  body > footer {
    max-width: 42em; } }

#MainNavigation nav .inner {
  max-width: 24em; }

footer ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 0.5em; }
  footer ul li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    white-space: nowrap;
    float: left;
    padding-left: 4px;
    padding-right: 4px;
    margin: 0.25em 0.25em 0 0;
    padding: 0; }
    footer ul li:first-child {
      padding-left: 0; }
    footer ul li:last-child {
      padding-right: 0; }
    footer ul li.last {
      padding-right: 0; }

a {
  color: #000; }

blockquote {
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  -moz-box-shadow: 0px 5px #333333;
  -webkit-box-shadow: 0px 5px #333333;
  box-shadow: 0px 5px #333333;
  background-color: rgba(0, 0, 0, 0.2);
  border: solid 1px #000;
  margin: 1em;
  padding: 1em; }
  blockquote p:last-child {
    margin-bottom: 0; }

em {
  font-style: italic; }

h1, h2, h3, h4, h5, h5 {
  color: #000;
  font-family: monospace;
  line-height: 1.25em;
  margin: 1rem 0 0.25rem; }

h1 {
  text-shadow: 0 0 1px #fff;
  font-size: 2em;
  margin-top: 0.5rem; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.25em; }

p {
  line-height: 1.25em;
  margin-bottom: 0.5em; }

strong {
  font-weight: bold; }

[role="main"] {
  overflow: hidden;
  *zoom: 1; }
  [role="main"] ul {
    list-style-type: disc;
    margin: 0.75em 0 0.75em 1.25em; }

nav a {
  display: block; }

nav.persons ul,
nav.years ul,
ul.penguins,
ul.persons {
  margin: 0;
  list-style-type: none; }

nav.penguins ul li,
nav.persons ul li,
ul.classes li {
  overflow: hidden;
  *zoom: 1;
  padding: 0;
  width: 100%; }
  nav.penguins ul li h3,
  nav.persons ul li h3,
  ul.classes li h3 {
    margin-top: 0; }
  nav.penguins ul li img,
  nav.persons ul li img,
  ul.classes li img {
    float: left;
    margin-right: 1em; }
  nav.penguins ul li .info,
  nav.persons ul li .info,
  ul.classes li .info {
    margin-left: calc(102px + 1em); }

ul.classes {
  margin: 0;
  list-style-type: none; }

ul.overview {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1; }
  ul.overview li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    white-space: nowrap;
    float: left;
    padding-left: 4px;
    padding-right: 4px;
    margin: 0 0.25em 0 0;
    padding: 0; }
    ul.overview li:first-child {
      padding-left: 0; }
    ul.overview li:last-child {
      padding-right: 0; }
    ul.overview li.last {
      padding-right: 0; }

img.class,
img.profile {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: 0px 5px #333333;
  -webkit-box-shadow: 0px 5px #333333;
  box-shadow: 0px 5px #333333;
  border: solid 1px #000;
  margin-bottom: 0.5em; }

img.profile + img.class {
  -moz-box-shadow: 0 0 0 #333333;
  -webkit-box-shadow: 0 0 0 #333333;
  box-shadow: 0 0 0 #333333;
  bottom: -10px;
  left: -30px;
  position: relative;
  width: 40px; }

footer {
  border-top: solid 1px #000;
  margin-top: 1em;
  padding: 0.5em 0; }

nav.breadcrumbs ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  margin: 0.5em 0; }
  nav.breadcrumbs ul > li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    white-space: nowrap;
    float: left;
    padding-left: 4px;
    padding-right: 4px; }
    nav.breadcrumbs ul > li:first-child {
      padding-left: 0; }
    nav.breadcrumbs ul > li:last-child {
      padding-right: 0; }
    nav.breadcrumbs ul > li.last {
      padding-right: 0; }
    nav.breadcrumbs ul > li a,
    nav.breadcrumbs ul > li span {
      display: block;
      padding: 10px 0 10px 35px;
      position: relative; }
    nav.breadcrumbs ul > li a {
      text-decoration: none;
      background: rgba(255, 182, 25, 0.5); }
      nav.breadcrumbs ul > li a:after {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-top: 50px solid transparent;
        border-bottom: 50px solid transparent;
        border-left: 30px solid transparent;
        position: absolute;
        top: 50%;
        margin-top: -50px;
        left: 100%;
        z-index: 2; }
      nav.breadcrumbs ul > li a:before {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-top: 50px solid transparent;
        border-bottom: 50px solid transparent;
        border-left: 30px solid #fff;
        position: absolute;
        top: 50%;
        margin-top: -50px;
        margin-left: 1px;
        left: 100%;
        z-index: 1; }
      nav.breadcrumbs ul > li a:after {
        border-left-color: rgba(255, 182, 25, 0.5); }
    @media screen and (max-width: 34em) {
      nav.breadcrumbs ul > li:last-child {
        display: none; } }
    nav.breadcrumbs ul > li:first-child a {
      padding-left: 10px; }
    nav.breadcrumbs ul > li:nth-child(2) a {
      background: rgba(255, 182, 25, 0.25); }
      nav.breadcrumbs ul > li:nth-child(2) a:after {
        border-left-color: rgba(255, 182, 25, 0.25); }
    nav.breadcrumbs ul > li a:hover {
      background: #ffb619; }
      nav.breadcrumbs ul > li a:hover:after {
        border-left-color: #ffb619; }

#MainNavigation {
  height: 100%;
  left: 0;
  pointer-events: none;
  top: 0;
  z-index: 100; }
  #MainNavigation nav {
    display: none;
    height: calc(100% - 3em);
    position: absolute;
    text-transform: uppercase; }
    #MainNavigation nav h2 {
      border-bottom: solid 1px #000; }
    #MainNavigation nav a {
      padding: 0.5em;
      text-decoration: none; }
      #MainNavigation nav a:hover {
        text-decoration: underline; }
  #MainNavigation .bar {
    overflow: hidden;
    *zoom: 1;
    cursor: pointer;
    pointer-events: all; }
    #MainNavigation .bar .holder {
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      background-color: #FFB619;
      border: solid 1px #000;
      font-family: Arial;
      float: right;
      height: 3em;
      width: 3em; }
    #MainNavigation .bar .trigger {
      -moz-transition: -moz-transform 0.4s;
      -o-transition: -o-transform 0.4s;
      -webkit-transition: -webkit-transform 0.4s;
      transition: transform 0.4s;
      -moz-transform-style: preserve-3d;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      background: transparent;
      border-color: transparent;
      cursor: pointer;
      display: block;
      height: 1.33333em;
      left: 11px;
      position: relative;
      text-indent: -9999em;
      top: 14px;
      width: 2em; }
    #MainNavigation .bar .trigger span,
    #MainNavigation .bar .trigger span:before,
    #MainNavigation .bar .trigger span:after {
      -moz-transition: all 0.2s;
      -o-transition: all 0.2s;
      -webkit-transition: all 0.2s;
      transition: all 0.2s;
      background-color: #000;
      display: block;
      position: absolute;
      width: 2em;
      height: 3px;
      left: 0; }
    #MainNavigation .bar .trigger span:before,
    #MainNavigation .bar .trigger span:after {
      content: ""; }
    #MainNavigation .bar .trigger span {
      -moz-backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      top: 6px; }
    #MainNavigation .bar .trigger span:before {
      -moz-transform-origin: 33% 100%;
      -ms-transform-origin: 33% 100%;
      -webkit-transform-origin: 33% 100%;
      transform-origin: 33% 100%;
      top: -6px;
      z-index: 10; }
    #MainNavigation .bar .trigger span:after {
      -moz-transform-origin: 33% 0;
      -ms-transform-origin: 33% 0;
      -webkit-transform-origin: 33% 0;
      transform-origin: 33% 0;
      top: 6px; }

body.navigation-open {
  overflow: hidden; }
  body.navigation-open #MainNavigation,
  body.navigation-open #MainNavigation nav {
    background-color: rgba(255, 182, 25, 0.95);
    z-index: 100; }
  body.navigation-open #MainNavigation {
    pointer-events: all; }
    body.navigation-open #MainNavigation nav {
      display: block;
      width: 100%; }
    body.navigation-open #MainNavigation .trigger {
      -moz-transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg); }
      body.navigation-open #MainNavigation .trigger span,
      body.navigation-open #MainNavigation .trigger span:before,
      body.navigation-open #MainNavigation .trigger span:after {
        background-color: transparent;
        left: -1px; }
      body.navigation-open #MainNavigation .trigger span:before {
        -moz-transform: translateY(3px) rotate(45deg);
        -ms-transform: translateY(3px) rotate(45deg);
        -webkit-transform: translateY(3px) rotate(45deg);
        transform: translateY(3px) rotate(45deg);
        background-color: #000; }
      body.navigation-open #MainNavigation .trigger span:after {
        -moz-transform: translateY(-3px) rotate(-45deg);
        -ms-transform: translateY(-3px) rotate(-45deg);
        -webkit-transform: translateY(-3px) rotate(-45deg);
        transform: translateY(-3px) rotate(-45deg);
        background-color: #000; }

/*# sourceMappingURL=style.css.map */
